<div class="panel-info" data-test="inform">
    <div class="panel-heading"></div>
    <div fxLayout="row" fxLayout.lt-sm="column" class="dashboard-holder ">

        <div fxFlex="20" fxFlexOffset="2.5">
            <mat-card class="users">
                Total Recieved
                <br>
                <h2>{{totalRequests}}</h2>   
                
            </mat-card>
        </div>
        <div fxFlex="20" fxFlexOffset="2.5">
            <mat-card class="tt-equip">
                Open Requests
                <br>
                <h2>{{totalOpen}}</h2>
            </mat-card>
        </div>
        <div fxFlex="20" fxFlexOffset="2.5">
            <mat-card class="store">
                Assigned Requests
                <br>
                <h2>{{totalAssigned}}</h2>
            </mat-card>
        </div>
        <div fxFlex="20" fxFlexOffset="2.5">
            <mat-card class="repair">
                Escalated Requests
                <br>
                <h2>{{totalEscalated}}</h2>
            </mat-card>
        </div>
        <div fxFlex="20" fxFlexOffset="2.5">
            <mat-card class="damaged">
                Closed Requests
                <br>
                <h2>{{totalClosed}}</h2>
            </mat-card>
        </div>
    </div> <br>

    <div class="panel-info" data-test="chart">
        <div class="panel-heading"></div>
            <div fxLayout="row" fxLayout.lt-sm="column" class="dashboard-holder ">
            
                <div fxFlex="60" fxFlexOffset="1.5" class="panel">
                    <p-toast [style]="{marginTop: '80px'}"></p-toast>
            
                    <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)" height="50vh" width="95%"></p-chart>
                </div>
                <div fxFlex="40" class="panel-info">
                    <mat-card class="panel-heading">
                        Requests By category (Weekly)
                    </mat-card>
                    <div>
                        <app-advanced-category></app-advanced-category>
                    </div>
                </div>
                </div>
    </div>