<div class="panel-info" data-test="inform">
    <div class="panel-heading"></div>
    <div fxLayout="row" fxLayout.lt-sm="column" class="dashboard-holder ">

        <div fxFlex="20" fxFlexOffset="2.5">
            <mat-card class="users">
                Total Active Users
                <br>
                <h2>{{totalUsers}}</h2>   
                
            </mat-card>
        </div>
        <div fxFlex="20" fxFlexOffset="2.5">
            <mat-card class="tt-equip">
                Total Equipements
                <br>
                <h2>{{totalActiveEq}}</h2>
            </mat-card>
        </div>
        <div fxFlex="20" fxFlexOffset="2.5">
            <mat-card class="store">
                In Store
                <br>
                <h2>{{totalInstore}}</h2>
            </mat-card>
        </div>
        <div fxFlex="20" fxFlexOffset="2.5">
            <mat-card class="repair">
                Under Repair
                <br>
                <h2>{{totalRepair}}</h2>
            </mat-card>
        </div>
        <div fxFlex="20" fxFlexOffset="2.5">
            <mat-card class="damaged">
                Damaged
                <br>
                <h2>{{totalDamaged}}</h2>
            </mat-card>
        </div>
    </div> <br>

    <div class="panel-info" data-test="chart">
        <div class="panel-heading"></div>
            <div fxLayout="row" fxLayout.lt-sm="column" class="dashboard-holder ">
            
                <div fxFlex="60" fxFlexOffset="1.5" class="panel">
                    <p-toast [style]="{marginTop: '80px'}"></p-toast>
            
                    <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)" height="50vh" width="95%"></p-chart>
                </div>
                <div fxFlex="40" class="panel-info">
                    <mat-card class="panel-heading">
                        Assets By category
                    </mat-card>
                    <div>
                        <app-advanced-category></app-advanced-category>
                    </div>
                </div>
                </div>
    </div>