<div>
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
</div>
<mat-card class="panel panel-info">
    <div class="panel-heading">                
                Adding New Category
        </div>
    <hr>
    <div class="opportunity-container">
        <mat-form-field appearance="outline">
            <mat-label>Category Name</mat-label>
            <input matInput placeholder="Category Name" [(ngModel)]="categoryModel.cat_name" #cat_name="ngModel"
                name="cat_name">
        </mat-form-field>          

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="details" [(ngModel)]="categoryModel.details" #details="ngModel"
                name="details"></textarea>
        </mat-form-field>
        
        <hr>
        <mat-card mat-dialog-actions>
            <button mat-button color="warn" (click)="onNoClick()">CANCEL</button>
            <button mat-button color="primary" (click)="addCategoryNow()">SUBMIT</button>
        </mat-card>
    </div>
</mat-card>