<mat-card>
    <div class="panel-success">
        <mat-card class="panel-heading"> 
            <div fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="40" fxFlexOffset="2.5"> Logged In as: {{currentUser.username}}</div>
                <div fxFlex="40" fxFlexOffset="2.5"></div>
                <div fxFlex="20" fxFlexOffset="2.5">Date: {{time}} Time:{{now}} </div>
            </div>
        </mat-card>
        <mat-card>
           Welcome, You are here. <hr>           
           <h1>Any other Quick Check for users appear here</h1>
        </mat-card>
    </div>
</mat-card>