<div class="float-content panel-info" fxLayout="column">
    <div class="panel-heading" fxLayout="row">
        <div fxFlex="50">
            <h4 class="panel-title">Equipements In store</h4>
        </div>
        <div fxFlex="30"></div>
        <div fxFlex="20">
            <mat-form-field style="text-align: left;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>
    </div>
    <ng-scrollbar>

        <table mat-table [dataSource]="dataSource" matSort>
            <!-- index -->
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef> No </th>
                <td mat-cell *matCellDef="let element; let pager = index;"> {{pager + 1}} </td>
            </ng-container>

            <!-- category -->
            <ng-container matColumnDef="Category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category_name}} </td>
            </ng-container>

            <!-- equipement Name -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.equipement_name }} </td>
            </ng-container>

            <!-- equipement brand -->
            <ng-container matColumnDef="Brand">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand</th>
                <td mat-cell *matCellDef="let element"> {{element.equipement_brand}} </td>
            </ng-container>


            <!-- created date -->
            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef> Model</th>
                <td mat-cell *matCellDef="let element">{{element.equipement_type}}</td>
            </ng-container>

            <!-- serial -->
            <ng-container matColumnDef="Sereals">
                <th mat-header-cell *matHeaderCellDef> Sereals</th>
                <td mat-cell *matCellDef="let element">{{element.equipement_serial}}</td>
            </ng-container>
            <!-- details -->
            <ng-container matColumnDef="Details">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let element"> {{element.details}} </td>
            </ng-container>

            <!-- status -->
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Allocate </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="needToAllocate(element.equipement_id)">
                        <mat-icon class="mat-19">input</mat-icon>
                    </button>
                    <div *ngIf="state=='allocate' && element.equipement_id ==selectedEquipementId">
                        <mat-form-field appearance="outline">
                            <mat-label>Users To allocate</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option *ngFor="let user of allUsers">
                                    <div *ngIf="element.category_id ==user.category_id">
                                        <div
                                            (click)="allocateNow(element.equipement_id, element.category_id, user.user_id)">
                                            {{user.username}} || {{user.station_name}} ({{user.department_name}},
                                            {{user.section_name}})
                                        </div>
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </ng-scrollbar>
</div>